{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<br>
<div class="container">
    <div>
        <div class="am-u-md-3 am-u-sm-12">
            <h2 style="font-size:200%;"><b>{{ user.username }}</b></h2>
            <b>Email:</b> {{ user.email }}
            <br>
            <b>Phone:</b> {{ profile.phone }}
            <br>
            <b>Address:</b> {{ profile.address }}
            <br>
        </div>
        <div class="am-u-md-9 am-u-sm-12">
            <div data-am-widget="tabs" class="am-tabs am-tabs-d2">
                <ul class="am-nav am-nav-tabs">
                  {% if request.GET.type == 'to_attend' %}
                    <li class="am-active"><a>To Attend</a></li>
                    <li class=""><a href="{% url 'ffx:myinfo' %}?type=attended">Attended</a></li>
                    <li class=""><a href="{% url 'ffx:myinfo' %}?type=created">Created</a></li>
                  {% elif request.GET.type == 'attended' %}
                    <li class=""><a href="{% url 'ffx:myinfo' %}?type=to_attend">To Attend</a></li>
                    <li class="am-active"><a>Attended</a></li>
                    <li class=""><a href="{% url 'ffx:myinfo' %}?type=created">Created</a></li>
                  {% else %}
                    <li class=""><a href="{% url 'ffx:myinfo' %}?type=to_attend">To Attend</a></li>
                    <li class=""><a href="{% url 'ffx:myinfo' %}?type=attended">Attended</a></li>
                    <li class="am-active"><a>Created</a></li>
                  {% endif %}
                </ul>
                <br>
                <!-- Event list -->
                {% include 'events_list.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <script src="{% static 'js/endless-pagination.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
    <script type="text/javascript">
        $.endlessPaginate({paginateOnScroll: true});
    </script>
{% endblock %}
